{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class='card-top-container'>
    <div class='card-top'>
        <img src='https://static.nike.com/a/images/f_auto/dpr_3.0/w_300,c_limit/04c1f213-f370-4625-be04-1d1f833eeed4/nike-sb-dans-les-coulisses-de-nike-skateboarding.png'/>
        <h3>This is a title</h3>
        <p>This is a paragraph</p>
        <button>Click here</p>
    </div>
</div>

{% schema %}
    {
        "name": "Hero",
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}