{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class='card-top-container'>
    {% for block in section.blocks %}
    <div class='coll-card'>
        ajkdhasjkahsdas
        <h3>{{ block.settings.collection }}</h3>
    </div>
        
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Hero",
        "blocks": [
            {
                "type": "collection",
                "name": "Collection",
                "limit": 3,
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_bg",
                        "label": "Image Background"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_hover",
                        "label": "Image Hover"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}