{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class='card-top-container'>
    <div class='card-top'>
        <h3>This is a title</h3>
        <p>This is a paragraph</p>
        <button>Click here</p>
    </div>
</div>

{% schema %}
    {
        "name": "Hero",
        "blocks": [
            {
                "type": "collection",
                "name": "collection",
                "limit": 3,
                "settings": [
                    {
                        "type"："collection",
                        "id": "collection",
                        "label": "collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_bg",
                        "label": "Image Background"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_hover",
                        "label": "Image Hover"
                    }
                ]
            },
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}